html {
    font-family: Helvetica;
    margin: 0px auto;
    text-align: center;
}
h1 {
    color: #0F3376;
    padding: 2vh;
}
p {
    font-size: 24px;
}
.button {
    background-color: #4CAF50; /* Vert */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
.button2 {
    background-color: #f44336; /* Rouge */
}